.App {
  margin: 1em;
  text-align: center;
  /* border: grey solid; */
  min-height: 14em;
}

.Header {
  /* border: lightgrey solid 2px ; */
  font-family: cursive;
  /* border-bottom: lightgrey solid 2px ; */
  min-height: 2em;
  margin: .2em;
  min-height: 5em;
}

.LoginRoute {
  /* border: red solid 2px ; */
  min-height: 12em;
  margin: .2em
}

.Friends {
  /* border: red solid 2px ;
  background: LightBlue; */
  min-height: 12em;
  margin: .2em
}

.Input {
  /* border: green solid 2px ;
  background: LightGreen; */
  min-height: 2em;
  margin: .2em
}

.FriendList {
  /* border: green solid 2px ; */
  min-height: 4em;
  margin: .2em
}

.FriendListItem {
  /* border: magenta solid 2px ; */
  min-height: 1em;
  margin: .2em
}

h1 {
  font-family: cursive;
  padding: 0px;
  margin: 0.2em;
}

h4 {
  padding: 0px;
  margin: 0.2em;
  margin-bottom: 2em;
}

h4:empty:before {
  content: "\200b";
  /* unicode zero width space character */
}

ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  width: 16em;
}

li {
  padding: 5px;
  margin: 2px;
  background-color: #eee;
  text-align: left;
}

li a {
  color: grey;
}

li:hover {
  background-color: darkolivegreen;
  color: white;
  cursor: pointer;
}

li:hover a {
  color: white;
}

button {
  padding: 2px;
  margin: 4px 2px 4px 2px;
}