.App {
  margin: 1em;
  text-align: center;
}

.App {
  border: grey solid;
}

.Header {
  border: blue solid thin;
  min-height: 2em;
  background: #EEE;
  margin: .2em
}

.LoginPage {
  border: red solid;
  min-height: 6em;
  background: #2DD;
  margin: .2em
}

.MainPage {
  border: red solid;
  min-height: 6em;
  background: #BDD;
  margin: .2em
}

.Input {
  border: green solid thin;
  min-height: 2em;
  background: #BAD;
  margin: .2em
}

.FriendList {
  border: green solid thin;
  min-height: 4em;
  background: #BBD;
  margin: .2em
}

h1 {
  font-family: cursive;
  padding: 0px;
  margin: 0.2em;
}

h4 {
  padding: 0px;
  margin: 0.2em;
  margin-bottom: 2em;
}

h4:empty:before {
  content: "\200b";
  /* unicode zero width space character */
}

ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  width: 16em;
}

li {
  padding: 5px;
  margin: 2px;
  background-color: #eee;
  text-align: left;
}

li a {
  color: grey;
}

li:hover {
  background-color: darkolivegreen;
  color: white;
  cursor: pointer;
}

li:hover a {
  color: white;
}

span {}

button {
  padding: 4px;
  margin: 4px 2px 4px 2px;
}